body {
	color: #40514e;
	margin: 0;
	text-align: center;
	font-family: "Merriweather", serif;
}

h1 {
	color: #66bfbf;
	font-size: 5.625rem;
	margin: 50px auto 0 auto;
	font-family: "Sacramento", cursive;
}

h2 {
	color: #66bfbf;
	font-family: "Montserrat", sans-serif;
	font-size: 2.5rem;
	font-weight: normal;
	padding-bottom: 10px;
}

h3 {
	color: #11999e;
	font-family: "Montserrat", sans-serif;
}

p {
	line-height: 2;
}

hr {
	border: dotted #eaf6f6 6px;
	border-bottom: none;
	width: 4%;
	margin: 100px auto;
}

a {
	color: #11999e;
	font-family: "Montserrat", sans-serif;
	margin: 10px 20px;
	text-decoration: none;
}

a:hover {
	color: #eaf6f6;
}

.top-container {
	background-color: #e4f9f5;
	position: relative;
	padding-top: 100px;
}

.middle-container {
	margin: 50px 0;
}

.bottom-container {
	background-color: #66bfbf;
	padding: 50px 0 20px;
}

.skill-row {
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
}

.pro {
	text-decoration: underline;
	font-weight: 1000;
}

.intro {
	width: 30%;
	margin: auto;
}

.contact-message {
	width: 40%;
	margin: 40px auto 60px;
}

.copyright {
	color: #eaf6f6;
	font-size: 0.75rem;
	padding: 20px 0;
}

.top-cloud {
	position: absolute;
	right: 300px;
	top: 40px;
}

.bottom-cloud {
	position: absolute;
	left: 250px;
	bottom: 300px;
}

.code-img {
	width: 25%;
	float: left;
	margin-right: 30px;
}

.clapperboard-img {
	width: 25%;
	float: right;
	margin-left: 30px;
	border-radius: 20%;
}
.pixelart-img {
	width: 30%;
	float: left;
	margin-right: 30px;
	border-radius: 20%;
}

.btn {
	background: #d41145;
	background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
	background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
	background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
	background-image: -o-linear-gradient(top, #11cdd4, #11999e);
	background-image: linear-gradient(to bottom, #d41145, #a30d35);
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	font-family: "Montserrat", sans-serif;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.btn:hover {
	background: #30e3cb;
	background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
	text-decoration: none;
}
.btn-social {
	background: #4cb712;
	background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
	background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
	background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
	background-image: -o-linear-gradient(top, #11cdd4, #11999e);
	background-image: linear-gradient(to bottom, #11cdd4, #11999e);
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	font-family: "Montserrat", sans-serif;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

/* Dark Mode */

.checkbox{
	appearance: none;
	visibility: hidden;
	display: none;
}
.mode-switch {
	position: relative;
	left: 50%;
	display: block;
	width: 40px;
	height: 20px;
	background-color: #fff;
	cursor: pointer;
	border-radius: 20px;
	overflow: hidden;
	transition: ease-in 0.7s;
	border:0.5px black solid;
}

input[type="checkbox"]:checked ~ .mode-switch {
	background: #092c3e;
	box-shadow: 0 0 0 12000px rgba(0, 0, 0, 0.15);
}
.mode-switch::before{
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 16px;
	height: 16px;
	background-color: #fff;
	border-radius: 50px;
	transition: ease-in 0.7s;
}
input[type="checkbox"]:checked ~ .mode-switch::before {
	transform: translateX(20px);
}
.mode-switch::after{
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 16px;
	height: 16px;
	background-color: #092c3e;
	border-radius: 50px;
	transition: ease-in 0.7s;
	
}
input[type="checkbox"]:checked ~ .mode-switch::after {
	transform: translateX(-50px);
}
